.footer {
    background-color: #e1e1e1;
    max-width: 100% !important;
    margin-top: 30px;

    .footer-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: black;
        border-radius: 20px;
        padding: 34px 64px;
        margin-top: 0;
        position: absolute;
        width: 100%;
        top: - 100px;
        box-shadow: 17px 23px 35px 0px rgba(0, 0, 0, 0.75);

        h3 {
            color: #fff;
            max-width: 430px;
        }

        .footer-input-container {
            display: flex;
            flex-direction: column;
            justify-content: center;



            .input-email {
                width: 349px;
                height: 40px;
                border-radius: 20px;
                padding: 0 20px;
                margin-right: 20px;
                background-color: #fff;
                margin-bottom: 20px;
                font-family: inherit;
                font-size: 14px;
                font-weight: 700;
                color: #000;

                &::placeholder {
                    color: #000 !important;
                }

                &::before {
                    border-bottom: red !important;
                }
            }

            button {
                width: 349px;
                height: 40px;
                border-radius: 20px;
                background-color: #fff;
                color: #000;
                font-weight: bold;
                cursor: pointer;
                font-family: inherit;
                font-size: 14px;
            }
        }
    }

    .footer-middle {
        display: flex;
        justify-content: space-evenly;
        padding-bottom: 30px;
        padding-top: 30px;
        color: #000;
        margin-top: 50px;

        &::placeholder {
            color: #000 !important;
        }
    }

    .footer-bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 30px;
        color: #000;

        .footer-image-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            img {
                width: 100px;
                height: 100px;
            }
        }
    }
}

.css-1ulrhjk-MuiInputBase-input-MuiInput-input::placeholder {
    color: #000 !important;
    opacity: 1 !important;
}